<ion-content class="ion-padding">
      <div layout vertical center>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let slide of introSlides">
         
            <h3 class="font-thin" [innerHTML]="slide.title"></h3>
            <img [src]="slide.image">
          </ion-slide>
        </ion-slides>
    
        <div class="text-center">
          <div>
            <button ion-button round class="btn-buzzer-login m-b-sm" (click)="facebookLogin()">LOG IN WITH FACEBOOK</button>
          </div>
          <div class="wrapper text-muted">
            <p>We don't post anything to Facebook.
              <br>
              By signing in, you agree to our <span class="text-u-l">Terms of Service</span> and <span class="text-u-l">Privacy Policy</span>
            </p>
          </div>
        </div>
      </div>
    </ion-content>
    
