
.swiper-wrapper {
    padding-bottom: 16px
  }

  .swiper-pagination-bullet-active {
    background: --ion-color-danger;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 5px;
  }

  button[small] {
    padding: 16px 2.6em
  }

  .btn-buzzer-login {
    padding: 16px 3em;
    font-weight: 700;
    background: linear-gradient(260deg,#4488bb,#384499);
  }